@import _includes/sass/fonts

body, h1, p
  margin: 0
  overflow-x: hidden
  font-family: bignoodletitlingregular
  color: white

section
  width: calc(100% + 15px)

@import _includes/sass/vars
@import _includes/sass/header
@import _includes/sass/home
@import _includes/sass/social
@import _includes/sass/about
