doctype
html
  head 
    title QUT Overwatch
    link(href='css/style.css', rel='stylesheet', type='text/css')
    script(src='js/script.js' type='text/javascript')
  
  body
    include _includes/jade/header
    include _includes/jade/home
    include _includes/jade/social
    include _includes/jade/about
