doctype
html
  head 
    title Personal
    link(href='css/main.css', rel='stylesheet', type='text/css')
  
  body
    include _includes/jade/header
    include _includes/jade/home
    include _includes/jade/goals
    include _includes/jade/about
