doctype html
html
  head
    title=records.data.title
    link(href='img/title.png' rel='icon' type='image/x-icon')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
    != css()
    != js()

  body
    include header
    include home
    include social
    include about
    
