doctype html
html
  head
    title=data.site.title
    link(href='img/title.png', rel='icon', type='image/x-icon')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css', rel='stylesheet')
    != css()
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js', type='text/javascript')
    != js()
    meta(charset='UTF-8')
    meta(name='description', content='QUT Overwatch is a group that is dedicated to bringing people together in their mutual love for Overwatch... and their mutual hatred for Mei. We strive to create an environment that encourages teamwork and driving one another to improve. ')
    meta(name='keywords', content='qut, overwatch, gaming, gardens point, qut overwatch')
    meta(name='author', content='Quintus Cardozo')
    meta(name='viewport', content='width=device-width, initial-scale=1')

  body
    include _header
    include _home
    include _social
    include _about
    
