@import includes/sass/fonts

body, h1, p
  margin: 0
  font-family: bignoodletitlingregular
  color: white

section
  height: calc(100vh - 120px)

  h1
    flex: 1 100%
    font-size: 35px
    text-align: center
    margin-top: 80px
    padding-bottom: 10px

  @media (max-width: 1000px)
    h1
      font-size: 45px

@import includes/sass/vars
@import includes/sass/header
@import includes/sass/home
@import includes/sass/social
@import includes/sass/about
