header
  h1#mobile-nav-toggle ☰
  img(src='images/logo.png' alt='Logo')

  nav
    a(href='#home') Home
    a(href='#social') Social
    a(href='#about') About Us

.mobile-nav
  h1#mobile-nav-dismiss ✕
  a(href='#home') Home
  a(href='#social') Social
  a(href='#about') About Us
    
