section#social
  h1 Socials
  iframe(src='https://discordapp.com/widget?id=283925065613967360&theme=dark' allowtransparency='true' frameborder='0').
  iframe(src='https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fqutoverwatch%2F&tabs=timeline&width=400&height=400&small_header=false&adapt_container_width=false&hide_cover=false&show_facepile=true&appId=263835507426067' scrolling='no' frameborder='0' allowTransparency='true')
