doctype
html
  head 
    title #{ title }
    link(href='css/style.css', rel='stylesheet', type='text/css')
    link(href='images/title.png' rel='icon' type='image/x-icon')
    link(href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    script(src='js/script.js' type='text/javascript')
    meta(name='viewport', content='width = device-width, initial-scale = 1')
  body
    include ../includes/jade/header
    include ../includes/jade/home
    include ../includes/jade/social
    include ../includes/jade/about
