#about
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  background:
    image: url(../images/covers/about.jpg)
    size: cover
    position: center

  h1
    flex: 1 100%
    margin: 6rem 0 2rem 0

  #staff
    display: flex
    justify-content: space-around
    flex: 1 100%
      wrap: wrap

  p
    display: inline-block
    font-size: 1.5rem
    text-align: center
    width: 80%
    padding-top: 30px

  .avatar
    width: 10rem
    height: 10rem
    border-radius: 50%
    cursor: pointer
    margin-top: 35px

  .rank
    width: 5rem
    height: 5rem
    padding-top: 1.2rem

  .flipped
    transform: rotateY(180deg)

  .person
    margin: 0 20px
    transition: 0.5s ease-in-out
    transform-style: preserve-3d

    .person-face
      display: inline-block
      position: relative
      backface-visibility: hidden


    .player-avatar
      position: absolute
      top: 0
      left: 0
      width: 10rem
      height: 10rem
      text-align: center
      transform: rotateY(180deg)
      backface-visibility: hidden

      .player-id
        margin-top: -7rem
        cursor: pointer

        span
          display: block
          font-size: 2rem
          color: $player-id
          width: inherit
