#social
  display: flex
  justify-content: space-around
  align-items: center
  flex-wrap: wrap
  background:
    image: url(../images/covers/social.png)
    size: cover
    position: center

  iframe
    width: 400px
    height: 400px

@media (max-width: 1000px)
  #social
    padding-bottom: 120px

    iframe
      width: 500px
      height: 500px
      margin: 20px 0
