header
  fixed(top 0)
  background-color $accent-light
  size(100% 8rem)
  z-index 1

  #mobile-nav-toggle
    display none

    @media (max-width 800px)
      display inline-block
      font-size 3rem
      margin-left 20px
      float left

  img
    size(12rem 7rem)
    padding 10px
    float left

    @media (max-width 800px)
      float right

  nav
    text-align right
    float right
    vertically-align()

    @media (max-width 800px)
      display none

    a
      color inherit
      text-decoration none
      font-size 2rem
      padding 0 20px

      &:hover, &.is-selected
        color $accent-dark

.mobile-nav
  display flex
  flex-direction column
  fixed(top 0 left 0)
  size(60% 100%)
  background $accent-dark
  transform translateX(-100%)
  transition all 0.5s ease-in-out
  z-index 2

  #mobile-nav-dismiss
    font-size 3rem
    text-align left
    margin 20px 20px 0

  .nav
    flex 1
    display flex
    flex-direction column
    justify-content space-around
    align-items center

    .link
      font-size 3rem

      i
        margin-right 20px

      a
        color inherit
        text-decoration none

      &.is-selected
        color $accent-dark

.is-visible
  transform translateX(0)
