#home
  min-height: 100vh

  #home-bg
    absolute(top 0 left 0)
    min-height: inherit
    width: 100%
    z-index: -1
    bg('../img/covers/home.jpg', center)
    background-size: cover

  #home-content
    absolute(top 8rem)
    display: flex
    align-items: center
    justify-content: center
    size(100% calc(100% - 8rem))

    #title

      h1
        font-size: 8rem
        text-align: center

      span
        display: block
        font-size: 2rem
        text-align: center

      #wrapper
        width: 80%
        margin: 30px auto
        background: $accent-light
        cursor: pointer
        border-radius: 30px
        box-shadow: 5px 5px 0 0 darken($accent-light, 10)

        h2
          padding-top: 30px
          text-align: center
          font-size: 3rem

        #timer
          display: block
          text-align: center
          font-size: 7rem
