#social
  display: flex
  padding-bottom: 80px
  justify-content: space-around
  align-items: center
  flex-wrap: wrap
  background-image: url('../img/covers/social.png')
  background-size: cover
  background-position: center

  iframe, .fb-page
    size: 400px

@media (max-width: 800px)
  #social
    padding-bottom: 140px

    iframe, .fb-page
      size: 300px
      margin: 20px auto
