#social
  display flex
  justify-content space-around
  align-items center
  flex-wrap wrap
  bg('../img/covers/social.png', center)
  background-size cover
  padding 3rem 0

  @media (max-width 800px)
    padding-bottom 140px

  p
    font-size 1.5rem
    flex 1 100%
    text-align center
    width 80%
    margin 0 10%

  iframe, .fb-page
    size 400px
    overflow hidden

    @media (max-width 800px)
      size(300px)
      margin 20px auto
