// Imports all stylesheets
@import 'fonts'
@import 'vars'
@import 'header'
@import 'index'
@import 'social'
@import 'about'

body, h1, p
  margin: 0
  font-family: bignoodletitlingregular
  color: white

h1
  font-size: 2rem
  text-align: center

.heading
  flex: 1 100%
  margin-top: 3rem

@media (max-width: 800px)
  html
    font-size: 12px
