// Imports all stylesheets
@import '_settings'
@import '_fonts'
@import '_vars'
@import '_header'
@import '_home'
@import '_social'
@import '_about'

body, h1, h2, p, a
  margin: 0
  font-family: bignoodletitlingregular
  color: white
  text-decoration: none

h1
  font-size: 2rem
  text-align: center

.heading
  flex: 1 100%
  margin-top: 3rem

@media (max-width: 800px)
  html
    font-size: 12px
