normalize-css()

// Imports all stylesheets
@import '_settings'
@import '_fonts'
@import '_vars'
@import '_header'
@import '_home'
@import '_social'
@import '_about'

html, body, h1, h2, p, a
  font-family bignoodletitlingregular
  color white
  text-decoration none

h1
  font-size 2rem
  text-align center

.heading
  flex 1 100%

+below(800px)
  html
    font-size 12px
