section#about
  h1 Who are we ?
  
  #staff
    each person, index in staff
      .person(onclick="this.classList.toggle('flipped')") 
        .person-face
          img(src='#{ person[0] }')
        .player-id
          span #{ index }
          img(src='#{ person[1] }')
      
  p QUT Overwatch are a bunch of people who are interested in meeting new people and playing Overwatch. We all come from different backgrounds and play at various skill levels but our love for the game is what brought us together. We strive to create an environment that encourages teamwork and driving one another to improve at the game.
