section#about
  h1 Who are we ?
  
  #staff
    each person, index in staff
      .person 
        .person-face
          img(src='#{ person[0] }')
        .player-id
          span #{ index }
          img(src='#{ person[1] }')
      
  p #{ about }
