section#social
  #fb-root
  h1 Socials
  iframe(src='https://discordapp.com/widget?id=283925065613967360&theme=dark' allowtransparency='true' frameborder='0')
  .fb-page(data-href='https://www.facebook.com/qutoverwatch/', data-tabs='timeline', data-width='500', data-height='400', data-small-header='false', data-adapt-container-width='true', data-hide-cover='false', data-show-facepile='false')
  #about-header
