#about
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  padding: 40px 0
  background:
    image: url(../images/covers/about.jpg)
    size: cover
    position: center

  h1
    flex: 1 100%
    font-size: 35px
    text-align: center
    padding-bottom: 30px

  #staff
    display: flex
    justify-content: space-around
    flex: 1 100%
      wrap: wrap

  p
    display: inline-block
    font-size: 25px
    width: 50%
    padding-top: 30px

  img
    width: 200px
    height: 200px
    border-radius: 50%
    cursor: pointer

  .flipped
    transform: rotateY(180deg)

  .person
    transition: 0.5s ease-in-out
    transform-style: preserve-3d

    .person-face
      display: inline-block
      position: relative
      backface-visibility: hidden


    .player-id
      position: absolute
      top: 0
      left: 0
      width: 200px
      height: 200px
      transform: rotateY(180deg)
      backface-visibility: hidden

      span
        position: absolute
        top: 85px
        text-align: center
        font-size: 30px
        color: $player-id
        width: inherit
        z-index: 2
        cursor: pointer
