#about
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-around
  padding: 40px 0
  background:
    image: url(../images/covers/about.jpg)
    size: cover
    position: center

  h1
    flex: 1 100%
    font-size: 35px
    text-align: center
    padding-bottom: 30px

  p
    display: inline-block
    font-size: 25px
    width: 50%
    padding-top: 30px

  .staff-container
    perspective: 1000px

    .staff
      position: relative
      transition: 0.5s ease-in-out
      transform-style: preserve-3d

      img
        width: 150px
        height: 150px
        border-radius: 50%
        transform: rotateY(0deg)
        backface-visibility: hidden

      .player-id
        position: absolute
        top: 0
        left: 0
        width: 150px
        height: 150px
        text-align: center
        font-size: 30px
        transform: rotateY(180deg)

        span
          position: absolute
          display: block
          text-align: center
          width: inherit
          height: 75px
          top: 65px
          z-index: 2
          cursor: default

      &:hover, .player-id
        transform: rotateY(180deg)
