#home
  height: calc(100vh + 10px)

  #home-bg
    position: absolute
    top: 0
    left: -5px
    height: calc(100% + 10px)
    width: calc(100% + 10px)
    z-index: -1
    filter: blur(5px)
    background:
      image: url(../images/covers/home.jpg)
      size: cover

  #home-content
    position: absolute
    top: 120px
    display: flex
    align-items: center
    justify-content: center
    height: calc(100vh - 120px)
    width: 100%

    #title

      h1
        font-size: 100px

      span
        display: block
        font-size: 30px
        text-align: center
