#home
  height: 100vh

  #home-bg
    position: absolute
    top: 0
    left: -4px
    height: inherit
    width: calc(100% + 4px)
    filter: blur(2px)
    background:
      image: url(../images/covers/home.jpg)
      size: cover
      position: center

  #home-content
    position: absolute
    top: 120px
    display: flex
    align-items: center
    justify-content: center
    height: calc(100% - 120px)
    width: 100%

    #title

      h1
        font-size: 100px
        text-align: center

      span
        display: block
        font-size: 30px
        text-align: center

  #header-fix
    position: absolute
    bottom: 0
    height: 120px
    width: 100%
